.root {
    -fx-font-family: "Segoe UI", sans-serif;
    /*-fx-background-color: #7ff2fa; */
    -fx-background-color: linear-gradient(to bottom right, #f0f4ff, #d9e2f0);
    /* Взаимоисключающее с тем фоном, что выше. Это фон текстуры
    -fx-background-color: #f5f5f5;
        -fx-background-image: url("background.png");
        -fx-background-repeat: repeat;
        -fx-background-size: 250px 250px;*/
}

/* Нижняя панель с кнопкой редактирования */
.bottom-panel {
    -fx-padding: 5 10 5 10;
    -fx-background-color: transparent; /* полностью прозрачный фон — панель сливается с окном */
}

.menu-bar {
    -fx-background-color: #e0e0e0;
}

.label {
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
}

.button:hover {
    -fx-background-color: #45a049;
}

